div{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
.navbar{
		border-radius: 0;
		border:none;
		font-weight: bold;
		font-size: 1.5em;
		background-color: rgba(160,160,160,0.3);
}

.navbar-brand{
	font-weight: bolder;
	font-size: 2em;

}

body{
		font: 400 15px/1.8 "Open Sans","Lato", "cursive", sans-serif;
		background-color: black;
		
	}

ul{
	text-transform: uppercase;
	
}

footer{
	text-transform:uppercase;
	text-align:center;
}

.link {
	border:2px solid black;
}

.container{
	padding: 80px 120px;
}

.name{
	opacity:0.8;
	border: solid transparent 8px;
	height:200px;
	width:150px;
}

.name:hover{
	border-color:#666666;
}

.preview{
	display:hidden;
}

.item{
	
}

a{
	text-decoration:none;
}
